@model HarmonicPatternsBase.Models.StatisticsViewModels.StatisticsIndexViewModel

@{
    ViewData["Title"] = "Index";
}


<div style="background-color:#36424a">
    <div class="container" style="padding:20px;">

        <div class="dropdown" style="display:inline-block;">
            <button class="btn button-purple dropdown-toggle button-nav" type="button" id="dropdownMenu"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                @if (Model.SelectedInstrument == null)
                {
                    <span>Instrument</span>
                }
                else
                {
                    @Model.SelectedInstrument.Name
                }

                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">

                <li>
                    <a asp-action="Index"
                       asp-route-intervalid="@Model.SelectedIntervalId"
                       asp-route-patterntypeid="@Model.SelectedPatternId"
                       asp-route-patterndirectid="@Model.SelectedDirectId"
                       asp-route-instrumentid="@null">
                        Wszystkie instrumenty
                    </a>
                </li>

                <li class="divider"></li>

                @foreach (var item in Model.Instruments)
                {
                    <li>
                        <a asp-action="Index"
                           asp-route-intervalid="@Model.SelectedIntervalId"
                           asp-route-patterntypeid="@Model.SelectedPatternId"
                           asp-route-patterndirectid="@Model.SelectedDirectId"
                           asp-route-instrumentid="@item.Id">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        </div>

        <div class="dropdown" style="display:inline-block;">
            <button class="btn button-blue dropdown-toggle button-nav" type="button" id="dropdownMenu"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                @if (Model.SelectedPattern == null)
                {
                    <span>Uklad</span>
                }
                else
                {
                    @Model.SelectedPattern.Name
                }

                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">

                <li>
                    <a asp-action="Index"
                       asp-route-intervalid="@Model.SelectedIntervalId"
                       asp-route-instrumentid="@Model.SelectedInstrumentId"
                       asp-route-patterndirectid="@Model.SelectedDirectId"
                       asp-route-patterntypeid="@null">
                        Wszystkie uklady
                    </a>
                </li>

                <li class="divider"></li>

                @foreach (var item in Model.PatternTypes)
                {
                    <li>
                        <a asp-action="Index"
                           asp-route-intervalid="@Model.SelectedIntervalId"
                           asp-route-instrumentid="@Model.SelectedInstrumentId"
                           asp-route-patterndirectid="@Model.SelectedDirectId"
                           asp-route-patterntypeid="@item.Id">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        </div>

        <div class="dropdown" style="display:inline-block;">
            <button class="btn button-green dropdown-toggle button-nav" type="button" id="dropdownMenu"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                @if (Model.SelectedInterval == null)
                {
                    <span>Interwal</span>
                }
                else
                {
                    @Model.SelectedInterval.Name
                }

                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">

                <li>
                    <a asp-action="Index"
                       asp-route-patterntypeid="@Model.SelectedPatternId"
                       asp-route-instrumentid="@Model.SelectedInstrumentId"
                       asp-route-patterndirectid="@Model.SelectedDirectId"
                       asp-route-intervalid="@null">
                        Wszystkie interwaly
                    </a>
                </li>

                <li class="divider"></li>

                @foreach (var item in Model.Intervals)
                {
                    <li>
                        <a asp-action="Index"
                           asp-route-patterntypeid="@Model.SelectedPatternId"
                           asp-route-instrumentid="@Model.SelectedInstrumentId"
                           asp-route-patterndirectid="@Model.SelectedDirectId"
                           asp-route-intervalid="@item.Id">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        </div>

        <div class="dropdown" style="display:inline-block;">
            <button class="btn button-pink dropdown-toggle button-nav" type="button" id="dropdownMenu"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">

                @if (Model.SelectedDirect == null)
                {
                    <span>Kierunek</span>
                }
                else
                {
                    @Model.SelectedDirect.Name
                }

                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">

                <li>
                    <a asp-action="Index"
                       asp-route-intervalid="@Model.SelectedIntervalId"
                       asp-route-patterntypeid="@Model.SelectedPatternId"
                       asp-route-instrumentid="@Model.SelectedInstrumentId"
                       asp-route-patterndirectid="@null">
                        Wszystkie kierunki
                    </a>
                </li>

                <li class="divider"></li>

                @foreach (var item in Model.PatternDirects)
                {
                    <li>
                        <a asp-action="Index"
                           asp-route-intervalid="@Model.SelectedIntervalId"
                           asp-route-patterntypeid="@Model.SelectedPatternId"
                           asp-route-instrumentid="@Model.SelectedInstrumentId"
                           asp-route-patterndirectid="@item.Id">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        </div>

        <div class="navbar-right" style="display:inline-block;">
            <a asp-area="" asp-controller="HarmonicPatterns" asp-action="Create" class="btn button-navframe">Dodaj</a>
        </div>

    </div>
</div>




<div style="padding:30px; background-color:#d6d9dc">

    <div class="text container">

        <div class="text-blue" style="font-size:15px">
            <span style="color:#920063"><strong> @Model.Statistics.Count </strong></span>
            ukladow
            @if (Model.SelectedInstrumentId != null)
            {
                <span><a asp-action="Edit" class="btn button-purple"> @Model.SelectedInstrument.Name</a></span>
            }
            @if (Model.SelectedPatternId != null)
            {
                <a asp-controller="Patterns" asp-action="Details" asp-route-id="@Model.SelectedPattern.Id" class="btn button-blue">@Model.SelectedPattern.Name</a>
            }
            @if (Model.SelectedIntervalId != null)
            {
                <a asp-action="Edit" class="btn button-green">@Model.SelectedInterval.Name</a>
            }
            @if (Model.SelectedDirectId != null)
            {
                <a asp-action="Edit" class="btn button-pink">@Model.SelectedDirect.Name</a>
            }

            w bazie danych
        </div>

        <div class="row" style="margin-top:30px; margin-bottom:40px;">

            <div class="col-md-4">
                <div style="margin-bottom:15px;">
                    POZIOM REAKCJI OSIAGNIETE PO 5 SWIECACH
                </div>
                @foreach (var item in Model.Statistics.ReactionAfter5Candles)
                {
                    double i = (double)item.ReactionCon / (double)Model.Statistics.Count * 100.0;


                    <div class="row" style="margin-bottom:5px;">
                        <div class="col-md-2">
                            <span style="color:#920063;"><strong>@i.ToString("#")%</strong> </span>
                        </div>
                        <div class="col-md-6">
                            ukladow osiagnelo poziom
                        </div>
                        <div class="col-md-2" style="text-align:center">
                            <span style="color:#920063"> @Model.ReactionLevels.Find(h => h.Id == item.ReactionId).Name </span>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-4">
                <div style="margin-bottom:15px;">
                    POZIOM REAKCJI OSIAGNIETE PO 10 SWIECACH
                </div>
                @foreach (var item in Model.Statistics.ReactionAfter10Candles)
                {
                    double i = (double)item.ReactionCon / (double)Model.Statistics.Count * 100.0;

                    <div class="row" style="margin-bottom:5px;">
                        <div class="col-md-2">
                            <span style="color:#920063;"><strong>@i.ToString("#")%</strong> </span>
                        </div>
                        <div class="col-md-6">
                            ukladow osiagnelo poziom
                        </div>
                        <div class="col-md-2" style="text-align:center">
                            <span style="color:#920063"> @Model.ReactionLevels.Find(h => h.Id == item.ReactionId).Name </span>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-4">
                <div style="margin-bottom:15px;">
                    POZIOM REAKCJI OSIAGNIETE PO 20 SWIECACH
                </div>
                @foreach (var item in Model.Statistics.ReactionAfter20Candles)
                {
                    double i = (double)item.ReactionCon / (double)Model.Statistics.Count * 100.0;

                    <div class="row" style="margin-bottom:5px;">
                        <div class="col-md-2">
                            <span style="color:#920063;"><strong>@i.ToString("#")%</strong> </span>
                        </div>
                        <div class="col-md-6">
                            ukladow osiagnelo poziom
                        </div>
                        <div class="col-md-2" style="text-align:center">
                            <span style="color:#920063"> @Model.ReactionLevels.Find(h => h.Id == item.ReactionId).Name </span>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>

<div class="container">
    
    <div class="row">
        <div class="row admin-panel">
            <h3 class="admin-panel-text">W budowie ;)</h3>
            <h5 class="admin-panel-text">Wykresy, analizy danych</h5>
            <h5 class="admin-panel-text">Jaki procent ukladow po osiagnieciu poziomu B osiąga poziom C i A?</h5>
            <h5 class="admin-panel-text">Jakie uklady szybciej osiagaja poziom B C A?</h5>
            <h5 class="admin-panel-text">W jakich godzinach i na jakich interwalach pojawia sie najwiecej ukladow?</h5>
            <h5 class="admin-panel-text">W ktorych godzinach uklady sie najlepiej realizują?</h5>
            <h5 class="admin-panel-text">itd...</h5>
        </div>
    </div>

</div>
