@model HarmonicPatternsBase.Models.PatternViewModels.PatternsIndexViewModel


<div class="container">

    <div style="margin-top:50px;">
        <a asp-controller="Info" asp-action="Patterns"
           class="btn button-menu"
           style="margin-right:10px;
           margin-bottom:20px">
            O układach harmonicznych
        </a>

        <a asp-controller="Patterns" asp-action="Index"
           class="btn button-menu-checked"
           style="margin-right:10px;
           margin-bottom:20px">
            Typy ukladow
        </a>

        <a asp-controller="Info" asp-action="Reactions"
           class="btn button-menu"
           style="margin-right:10px;
           margin-bottom:20px">
            Poziomy reakcji
        </a>

        <a asp-controller="Info" asp-action="About"
           class="btn button-menu"
           style="margin-right:10px;
           margin-bottom:20px">
            O co tutaj chodzi?
        </a>
    </div>


    <div class="masonry" style="margin-top:40px;">

        @foreach (var item in Model.Patterns)
        {

            <div class="item">

                <a asp-controller="Patterns" asp-action="Details" asp-route-id="@item.Id" class="btn button-blue button-md">@item.Name</a>
                <div style="text-align:center">
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img src="~/images/patterns/uklad1.png" class="img-rounded" style="max-width:230px;" asp-append-version="true" />
                    </a>

                    <div class="row" style="text-align:center">
                        <div class="col-md-6">
                            <p>
                                AD:XA
                            </p>
                            <p>
                                AB:XA
                            </p>
                        </div>
                        <div class="col-md-6 text-green" style="font-size:15px;">
                            <p>
                                <strong>@item.ADtoXAratio</strong>
                            </p>
                            <p>
                                <strong>@item.ABtoXAratio</strong>
                            </p>
                        </div>
                    </div>


                    <div style="margin-top:10px;">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn button-blueframe" style="background-color:#ffffff;">Szczegoly</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

