@model HarmonicPatternsBase.Models.HarmonicPattern

@{ 
    string imageContent = "~/images/patterns/uklad1.png";
    string userImageContent = "~/images/DefaultUserPhoto.png";

    var r = new Random();
    var i = r.Next(0, 5);
    if (i == 0)
    {
        imageContent = "~/images/patterns/uklad1.png";
    }
    else if (i == 1)
    {
        imageContent = "~/images/patterns/uklad2.png";
    }
    else if (i == 2)
    {
        imageContent = "~/images/patterns/uklad3.png";
    }
    else if (i == 3)
    {
        imageContent = "~/images/patterns/uklad4.png";
    }
}
<div class="item">

    @if (Model.Image.Length > 5)
    {
        var base64 = Convert.ToBase64String(Model.Image);
        imageContent = String.Format("data:image/gif;base64,{0}", base64);
    }

    <div style="margin-bottom:10px;">
        <a asp-action="Edit" class="btn button-purple">@Model.Instrument.Name</a>
        <a asp-action="Edit" class="btn button-green">@Model.Interval.Name</a>
        <a asp-controller="Patterns" asp-action="Details" asp-route-id="@Model.PatternType.Id" class="btn button-blue">@Model.PatternType.Name</a>
        <a asp-action="Edit" class="btn button-pink">@Model.PatternDirect.Name</a>
    </div>

    <div style="margin-bottom:10px;">
        @if (Model.User == null)
        {
            <img src='~/images/DefaultUserPhoto.png' class="img-circle" style="height:50px; width:50px; display:inline-block;" />
        }
        else
        {
            var base64 = Convert.ToBase64String(Model.User.Avatar);
            userImageContent = String.Format("data:image/gif;base64,{0}", base64);
            <img src='@userImageContent' class="img-circle" style="height:50px; width:50px; display:inline-block;" />
        }

        

        @if (Model.User == null)
        {
            <a asp-action="Index" asp-controller="User" asp-route-userid="@Model.UserId" class="text text-blue" style="margin-left:5px; display:inline-block; font-size:12px;">NIEZNANY UZYTKOWNIK</a>
        }
        else
        {
            <a asp-action="Index" asp-controller="User" asp-route-userid="@Model.UserId" class="text text-blue" style="margin-left:5px; display:inline-block; font-size:12px;">@Model.User.Nick.ToUpper()</a>
        }


    </div>

    <a asp-action="Details" asp-route-id="@Model.Id">
        <div style="text-align:center">
            <img src='@imageContent' class="img-rounded" style="max-width:230px;" asp-append-version="true" />
        </div>
    </a>

    <div class="text row" style="margin-top:10px; font-size:12px;">
        <div class="col-md-5">
            <p>
                NA RYNKU:
            </p>
        </div>
        <div class="col-md-7">
            <p>
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                @Html.DisplayFor(modelItem => Model.Date)

            </p>
            <p>
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                @Model.Date.TimeOfDay
            </p>
        </div>
    </div>
    <div class="text row" style="margin-top:10px; font-size:12px;">
        <div class="col-md-5">
            <p>
                DODANO:
            </p>
        </div>
        <div class="col-md-7">
            <p>
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                @Html.DisplayFor(modelItem => Model.AddDate)

            </p>
        </div>
    </div>

</div>