@model HarmonicPatternsBase.Models.HarmonicPattern

@{
    string imageContent = "~/images/patterns/uklad1.png";
    string userImageContent = "~/images/DefaultUserPhoto.png";

    var r = new Random();
    var i = r.Next(0, 5);
    if (i == 0)
    {
        imageContent = "~/images/patterns/uklad1.png";
    }
    else if (i == 1)
    {
        imageContent = "~/images/patterns/uklad2.png";
    }
    else if (i == 2)
    {
        imageContent = "~/images/patterns/uklad3.png";
    }
    else if (i == 3)
    {
        imageContent = "~/images/patterns/uklad4.png";
    }
}
<div class="item" style="margin: 0 0 1em">

    @if (Model.Image.Length > 5)
    {
        var base64 = Convert.ToBase64String(Model.Image);
        imageContent = String.Format("data:image/gif;base64,{0}", base64);
    }

    <div class="row">
        <div class="col-md-2">
            <a asp-action="Details" asp-route-id="@Model.Id">
                <div style="text-align:center">
                    <img src='@imageContent' class="img-rounded" style="max-width:160px" asp-append-version="true" />
                </div>
            </a>
        </div>
        <div class="col-md-10">
            <div class="row">
                <a asp-action="Edit" class="btn button-purple" style="margin-left:25px;">@Model.Instrument.Name</a>
                <a asp-action="Edit" class="btn button-green">@Model.Interval.Name</a>
                <a asp-controller="Patterns" asp-action="Details" asp-route-id="@Model.PatternType.Id" class="btn button-blue">@Model.PatternType.Name</a>
                <a asp-action="Edit" class="btn button-pink">@Model.PatternDirect.Name</a>
            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-md-4">

                    @if (Model.User == null)
                    {
                        <img src='~/images/DefaultUserPhoto.png' class="img-circle" style="height:70px; width:70px; display:inline-block;" />
                    }
                    else
                    {
                        var base64 = Convert.ToBase64String(Model.User.Avatar);
                        userImageContent = String.Format("data:image/gif;base64,{0}", base64);
                        <img src='@userImageContent' class="img-circle" style="height:70px; width:70px; display:inline-block;" />
                    }

                    @if (Model.User == null)
                    {
                        <a asp-action="Edit" class="text text-blue" style="margin-left:5px; display:inline-block; font-size:12px;">NIEZNANY UZYTKOWNIK</a>
                    }
                    else
                    {
                        <a asp-action="Edit" class="text text-blue" style="margin-left:5px; display:inline-block; font-size:12px;">@Model.User.Nick.ToUpper()</a>
                    }
                </div>
                <div class="col-md-5">
                    <div class="text row" style="margin-top:10px; font-size:12px;">
                        <div class="col-md-3">
                            <p>
                                NA RYNKU:
                            </p>
                        </div>
                        <div class="col-md-8">
                            <p>
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                @Html.DisplayFor(modelItem => Model.Date)
                                <span style="margin-left:7px;" class="glyphicon glyphicon-time" aria-hidden="true"></span>
                                @Model.Date.TimeOfDay
                            </p>
                        </div>
                    </div>
                    <div class="text row" style="margin-top:10px; font-size:12px;">
                        <div class="col-md-3">
                            <p>
                                DODANO:
                            </p>
                        </div>
                        <div class="col-md-7">
                            <p>
                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                @Html.DisplayFor(modelItem => Model.AddDate)

                            </p>
                        </div>
                    </div>
                    <div class="text row" style="margin-top:10px; font-size:12px;">
                        <a asp-action="Details" asp-route-id="@Model.Id" class="btn button-blueframe" style="background-color:#ffffff" >Szczegoly</a>
                    </div>
                </div>
                <div class="col-md-3">

                    <div class="col-md-6">
                        <div class="text row" style="margin-top:10px; font-size:12px;">
                            <div class="col-md-4">
                                <p>
                                    R5:
                                </p>
                            </div>
                            <div class="col-md-7">
                                <p>
                                    <a asp-controller="Info" asp-action="Reactions" style="color:#920063"><strong>@Model.ReactionAfter5Candles.Name</strong></a>    
                                </p>
                            </div>
                        </div>
                        <div class="text row" style="margin-top:10px; font-size:12px;">
                            <div class="col-md-4">
                                <p>
                                    R10:
                                </p>
                            </div>
                            <div class="col-md-7">
                                <p>
                                    <a asp-controller="Info" asp-action="Reactions" style="color:#920063"><strong>@Model.ReactionAfter10Candles.Name</strong></a>  
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text row" style="margin-top:10px; font-size:12px;">
                            <div class="col-md-4">
                                <p>
                                    R20:
                                </p>
                            </div>
                            <div class="col-md-7">
                                <p>
                                    <a asp-controller="Info" asp-action="Reactions" style="color:#920063"><strong>@Model.ReactionAfter20Candles.Name</strong></a>  
                                </p>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>

</div>