@model HarmonicPatternsBase.Models.HarmonicPatternViewModels.HarmonicPatternCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container">

    <div class="text" style="margin:25px;">
        <p style="font-size:35px;"><strong>Dodaj uklad</strong></p>
        <p style="font-size:20px;">Im dokladniej opiszesz uklad harmoniczny tym lepsze i wartosciowsze beda nasze analizy!</p>
    </div>

    <div class="content">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="form-horizontal">
                
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div style="text-align:center;margin-bottom:50px; margin-top:30px;">
                    <div id="image-holder"> </div>

                    <label class="btn btn-default btn-file" for="image">
                        <input id="harmonicPatternImage" type="file" name="image" />  Dodaj zdjecie
                    </label>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Data wystapienia na rynku</label>
                    <div class="col-md-9">
                        <input asp-for="Date" type="date" class="form-control" value="@Model.Date" />
                        <span asp-validation-for="Date" class="text-danger" />
                    </div>
                </div>          
                
                <div class="form-group">
                    <label class="col-md-3 control-label">Godzina wystapienia na rynku</label>
                    <div class="col-md-9">
                        <input asp-for="Time" type="time" class="form-control" value="@Model.Time" />
                        <span asp-validation-for="Time" class="text-danger" />
                    </div>
                </div>     

                <div class="form-group">
                    <label class="col-md-3 control-label">Krotki opis</label>
                    <div class="col-md-9">
                        <textarea asp-for="HarmonicPattern.Discription" class="form-control" style="height:150px;" ></textarea>
                        <span asp-validation-for="HarmonicPattern.Discription" class="text-danger" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Instrument</label>
                    <div class="col-md-9">
                        <select asp-for="HarmonicPattern.InstrumentId" class="form-control" asp-items="@Model.InstrumentList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Interwal</label>
                    <div class="col-md-9">
                        <select asp-for="HarmonicPattern.IntervalId" class="form-control" asp-items="@Model.IntervalList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Typ ukladu</label>
                    <div class="col-md-9">
                        <select asp-for="HarmonicPattern.PatternTypeId" class="form-control" asp-items="@Model.PatternTypeList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Kierunek ukladu</label>
                    <div class="col-md-9">
                        <select asp-for="HarmonicPattern.PatternDirectId" class="form-control" asp-items="@Model.PatternDirectList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Reakcja po 5 swiecach</label>
                    <div class="col-md-9">
                        <select asp-for="HarmonicPattern.ReactionAfter5CandlesId" class="form-control" asp-items="@Model.ReactionLvlsList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Reakcja po 10 swiecach</label>
                    <div class="col-md-9">
                        <select asp-for="HarmonicPattern.ReactionAfter10CandlesId" class="form-control" asp-items="@Model.ReactionLvlsList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Reakcja po 20 swiecach</label>
                    <div class="col-md-9">
                        <select asp-for="HarmonicPattern.ReactionAfter20CandlesId" class="form-control" asp-items="@Model.ReactionLvlsList"></select>
                    </div>
                </div>

                @*
                <div class="form-group">
                    <label asp-for="HarmonicPattern.NumberOfWaves" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="HarmonicPattern.NumberOfWaves" class="form-control" asp-items="@Model.NumberOfWavesList"></select>
                    </div>
                </div>
                    *@

                @*---------------------------------------*@

                <div class="form-group">
                    <label class="col-md-3 control-label">Storunek fali AB do XA</label>
                    <div class="col-md-9">
                        <select asp-for="ABtoXAratio" class="form-control" asp-items="@Model.WaveRatioList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label  class="col-md-3 control-label">Stosunek fali AD do XA</label>
                    <div class="col-md-9">
                        <select asp-for="ADtoXAratio" class="form-control" asp-items="@Model.WaveRatioList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Stosunek fali BC do AB</label>
                    <div class="col-md-9">
                        <select asp-for="BCtoABratio" class="form-control" asp-items="@Model.WaveRatioList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Stosunek fali CD do BC</label>
                    <div class="col-md-9">
                        <select asp-for="CDtoBCratio" class="form-control" asp-items="@Model.WaveRatioList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Stosunek fali CD do AB</label>
                    <div class="col-md-9">
                        <select asp-for="CDtoABratio" class="form-control" asp-items="@Model.WaveRatioList"></select>
                    </div>
                </div>
                

                <div style="text-align:center; margin-top:40px; margin-bottom:10px;">

                        <input type="submit" value="Dodaj do bazy danych" class="btn btn-default" />

                </div>

            </div>
        </form>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/HarmonicPattern/Create.js"></script>
}
