@model HarmonicPatternsBase.Models.HarmonicPatternViewModels.HarmonicPatternCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container">

    <div class="content">
        <form asp-action="Create">
            <div class="form-horizontal">
                <h4>HarmonicPattern</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Day" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="Day" class="form-control" asp-items="@Model.DayList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Month" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="Month" class="form-control" asp-items="@Model.MonthList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Year" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="Year" class="form-control" asp-items="@Model.YearList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Hour" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="Hour" class="form-control" asp-items="@Model.HourList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Minute" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="Minute" class="form-control" asp-items="@Model.MinuteList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Discription" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Discription" class="form-control" />
                        <span asp-validation-for="Discription" class="text-danger" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="InstrumentId" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="InstrumentId" class="form-control" asp-items="@Model.InstrumentList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="IntervalId" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="IntervalId" class="form-control" asp-items="@Model.IntervalList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="PatternTypeId" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="PatternTypeId" class="form-control" asp-items="@Model.PatternTypeList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="PatternDirectId" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="PatternDirectId" class="form-control" asp-items="@Model.PatternDirectList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
