@model HarmonicPatternsBase.Models.HarmonicPatternViewModels.HarmonicPatternCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container">

    <div class="content">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="form-horizontal">
                <h4>HarmonicPattern</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Date" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Date" type="date" class="form-control" value="@Model.DateNow" />
                        <span asp-validation-for="Date" class="text-danger" />
                    </div>
                </div>          
                
                <div class="form-group">
                    <label asp-for="Time" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Time" type="time" class="form-control" value="@Model.TimeNow" />
                        <span asp-validation-for="Time" class="text-danger" />
                    </div>
                </div>     

                <div class="form-group">
                    <label asp-for="Discription" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Discription" class="form-control" />
                        <span asp-validation-for="Discription" class="text-danger" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="InstrumentId" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="InstrumentId" class="form-control" asp-items="@Model.InstrumentList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="IntervalId" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="IntervalId" class="form-control" asp-items="@Model.IntervalList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="PatternTypeId" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="PatternTypeId" class="form-control" asp-items="@Model.PatternTypeList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="PatternDirectId" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="PatternDirectId" class="form-control" asp-items="@Model.PatternDirectList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ReactionAfter5CandlesId" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="ReactionAfter5CandlesId" class="form-control" asp-items="@Model.ReactionLvlsList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ReactionAfter10CandlesId" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="ReactionAfter10CandlesId" class="form-control" asp-items="@Model.ReactionLvlsList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ReactionAfter20CandlesId" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="ReactionAfter20CandlesId" class="form-control" asp-items="@Model.ReactionLvlsList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="NumberOfWaves" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="NumberOfWaves" class="form-control" asp-items="@Model.NumberOfWavesList"></select>
                    </div>
                </div>

                @*---------------------------------------*@

                <div class="form-group">
                    <label asp-for="ABtoXAratio" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="ABtoXAratio" class="form-control" asp-items="@Model.WaveRatioList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ADtoXAratio" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="ADtoXAratio" class="form-control" asp-items="@Model.WaveRatioList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="BCtoABratio" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="BCtoABratio" class="form-control" asp-items="@Model.WaveRatioList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="CDtoBCratio" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="CDtoBCratio" class="form-control" asp-items="@Model.WaveRatioList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="CDtoABratio" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="CDtoABratio" class="form-control" asp-items="@Model.WaveRatioList"></select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-5">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <label class="btn btn-default btn-file" for="multiple_input_group">
                                    <input id="multiple_input_group" type="file" name="image" /> Dodaj zdjecia
                                </label>
                            </span>
                            <span class="file-input-label"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
